.cardId {
    background-image: url("https://images.wallpapersden.com/image/download/rick-and-morty-portal_67218_2560x1440.jpg");
    background-color: #cccccc;
    height: 920px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}