.cardId {
    
    background-color: black;
   
    
    
}

.cardId  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card{
    margin-bottom: 15px;
}

.button {
    background-color: black;
    justify-items: baseline;
    color: black;
}

